<section class="updatePlanContainer">
    <div class="update-box">
        <h3 class="update-box-title"> Update a travel plan </h3>
        <form class="update-form">
            <div class="form-left form-sides">
                <label for="travel-date">Date</label><br>
                <input id="travel-date" type="date" formControlName="travelDate" disabled><br>
    
                <label for="leave-at"> Leave At </label><br>
                <input id="leave-at" type="time" formControlName="leavingTime"><br>
    
                <label for="arrive-by"> Arrive By </label><br>
                <input id="arrive-by" type="time" formControlName="arrivingTime"><br>
    
                <label for="departure-location"> From </label><br>
                <input id="departure-location" type="text" formControlName="departureLocation"><br>
    
                <label for="destination-location"> To </label><br>
                <input id="destination-location" type="text" formControlName="destinationLocation"><br>
            </div>
            <div class="form-right form-sides">
    
                <label for="travel-reason"> Travel Reason </label><br>
                <textarea id="travel-reason" formControlName="travelReason">adsfa</textarea><br>
    
                <label for="description">Description</label><br>
                <textarea id="description" formControlName="description"></textarea><br>
                <div class="updateFormActions">
                    <input class="primary-btn-style update-btn" id="submit-plan" type="submit" value="Update Plan"><br>
                    <input class="primary-btn-style update-btn" id="submit-plan" type="submit" value="Cancel"><br>
                </div>
            </div>
        </form>
    </div>
</section>