<div class="header-container">
    <div class="site-logo">
        <h1>Daily Travel Planner</h1>
    </div>
    <div class="user-profile">
        <div class="profile-container">
            <div class="user-name">
                <p>{{userName}}</p>
            </div>
            <div class="user-profile" [style.background-image]="'url('+userProfilePicPath+')'">
               <!-- <img alt="" [src]="userProfilePicPath" class="profileImage"> -->
            </div>
        </div>

    </div>
    
</div>
